body {
    background:#e3e3e3;
    margin-top: 20px;
}

.page-inner {
        box-shadow: 0 0.2rem 0.8rem rgba(196, 196, 196, 0.4);
    position: relative;
    min-height: calc(100% - 56px);
    padding: 20px 30px 40px 30px;
    background: rgb(222, 222, 222);
}

.card.card-white {
    background-color: #ffffff;
    border: 1px solid rgb(103, 106, 109);
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.8rem rgba(190, 190, 190, 0.4);
    padding: 25px;
}

.grid-margin {
    margin-bottom: 2rem;
}

.card-title {
    text-align: center;
    color: #101010;
    font-weight: bold;
}

.user-profile-card {
    text-align: center;
}

.user-profile-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid SlateGray;
    margin-bottom: 10px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.team-member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid SlateGray;
}

.team-member span {
    font-size: 14px;
    color: #323232;
}

.btn-theme {
    background-color: rgb(119, 119, 119);
    color: #fff;
    border: none;
    margin: 5px;
}

.btn-theme:hover {
    background-color: rgb(221, 221, 221);
}

h4, p {
    color: #444;
}

.timeline-comment-text {
    font-size: 14px;
}

.user-info {
    display: flex;
    flex-direction: column;
}
